.fbw-feed {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
}

.fbw-feed img {
  max-width: none;
}

.fbw-feed table, .fbw-feed caption, .fbw-feed tbody, .fbw-feed tfoot, .fbw-feed thead, .fbw-feed tr, .fbw-feed th, .fbw-feed td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: middle;
    background: transparent;
}

.fbw-feed .fbw-user-thumb {
  width: 30px;
  height: 30px;
  vertical-align: middle;
} 

.fbw-feed .fbw-newpost-container {
  margin: 8px;
}

.fbw-feed .fbw-newpost-container .fbw-newpost-form {

}

.fbw-feed .fbw-newpost-container .fbw-newpost-form input {
  height: 30px;
  width: 100%;
  padding: 5px;
  font-size: 13px;
  box-sizing: border-box;
  border: 1px solid rgb(220, 222, 227);
}


.fbw-feed .fbw-btn-link {
  cursor: pointer;
  border-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.fbw-feed .fbw-btn-link, .fbw-btn-link:active, .fbw-btn-link[disabled] {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.fbw-feed .fbw-loading, .fbw-feed .fbw-empty {
  margin: 30px auto;
  text-align: center;
  font-size: 22px;
}
.fbw-feed .fbw-loading .fbw-spinner {
  margin: 20px auto;
  width: 54px;
  height: 54px;
  position: relative !important;
}

.fbw-feed .fbw-post-list {
  margin: 0;
  padding: 0;
}

.fbw-feed .fbw-load-container {
  text-align: center;
  margin: 5px;
}

/*Post Styles*/
.fbw-feed .fbw-post {
  list-style: none;
  /*border-radius: 2px;*/
  background-color: #ffffff;
  /*box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
  border: 1px solid rgba(0,0,0,0.3);*/
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  margin: 8px;
  font-size: 13px;
  overflow-x: hidden;
}
.fbw-feed .fbw-post a, .fbw-feed .fbw-post .fbw-post-link {
  color: #3b5998;
  text-decoration: none;
  cursor: pointer;
}
.fbw-feed .fbw-post .fbw-post-header {
  padding: 10px 10px 0 10px;
}
.fbw-feed .fbw-post .fbw-post-header img {
  float: left;
  width: 35px;
  height: 35px;
}
.fbw-feed .fbw-post .fbw-post-header .fbw-post-from {
  margin-left: 45px;
  font-weight: bold;
}
.fbw-feed .fbw-post .fbw-post-header .fbw-post-from-details {
  margin-left: 45px;
  color: rgba(0,0,0,0.5);
  line-height: 20px;
}

.fbw-feed .fbw-post .fbw-post-content {
  padding: 8px;
}

.fbw-feed .fbw-post .fbw-post-controls {
  border-top: 1px solid rgba(0,0,0,0.15);
  padding: 6px;
  margin: 0 6px;
}
.fbw-feed .fbw-post .fbw-post-controls .fbw-post-controls-commands {
  float: left;
  font-weight: bold;
  color: #7f7f7f;
  cursor: pointer;
}
.fbw-feed .fbw-post .fbw-post-controls .fbw-post-controls-views {
  float: right;
}

.fbw-feed .fbw-post .fbw-post-footer {
  padding: 0 8px 8px 8px;
  border-top: 1px solid rgba(0,0,0,0.15);
  background-color: #f6f7f8;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 12px;
  line-height: 16px;
}

/*Image Post*/
.fbw-feed .fbw-post-type-photo {
  text-align: center;
}

.fbw-feed .fbw-post-type-photo img {
  margin-top: 5px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 3px;
  max-width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.fbw-feed .fbw-post-type-photo img.fbw-thumbnail {
  max-width: 160px !important;
  margin: 10px;
}

/*Video Post*/
.fbw-feed .fbw-post-type-video {
  text-align: center;
}

.fbw-feed .fbw-post-type-video img {
  margin-top: 5px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 3px;
  max-width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.fbw-feed .fbw-post-type-video img.fbw-thumbnail {
  max-width: 160px !important;
  margin: 10px;
}


/*Link Post*/
.fbw-feed .fbw-post-type-link {
  margin-top: 5px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0.1);
  background-color: #f9f9f9;
  font-size: 12px;
  overflow-x: hidden;
}
.fbw-feed .fbw-post-type-link .fbw-post-link-picture {
  width: 100px;
  max-height: 100px;
  float: left;
}
.fbw-feed .fbw-post-type-link .fbw-post-link-title {
  margin-left: 105px;
  font-size: 125%;
  line-height: 135%;
  font-weight: bold;
}
.fbw-feed .fbw-post-type-link .fbw-post-link-caption {
  margin-left: 105px;
  color: rgba(0,0,0,0.5);
  text-transform: uppercase;
}
.fbw-feed .fbw-post-type-link .fbw-post-link-description {
  margin-left: 105px;
  margin-top: 5px;
  margin-bottom: 5px;
}


/*Post Likes*/
.fbw-feed .fbw-likes {
  /*border-top: 1px solid white;
  margin: 10px -8px 0 -8px;
  padding: 10px 10px 0 10px;
  line-height: 16px;*/
  float: right;
}



/*Post Comments*/
.fbw-feed .fbw-comments-comment {
  margin-top: 8px;
}

.fbw-feed .fbw-comments-comment-input {
  height: 30px;
  width: 100%;
  padding: 5px;
  font-size: 13px;
  box-sizing: border-box;
  border: 1px solid rgb(220, 222, 227);
}

.fbw-feed .fbw-comments-comment-post {
  line-height: 16px;
  width: 60px;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.fbw-feed .fbw-comments {
  padding: 0;
}

.fbw-feed .fbw-comments li {
  list-style: none;
  margin: 0 -8px;
  padding: 6px 10px;
}

.fbw-feed .fbw-comments li:last-child {
  padding-bottom: 0;
}

.fbw-feed .fbw-comments li img {
  float: left;
  width: 40px;
  height: 40px;
}

.fbw-feed .fbw-comments li .fbw-comment-from {
  margin-left: 50px;
  font-weight: bold;
  line-height: 20px;
}

.fbw-feed .fbw-comments li .fbw-comment-content {
  line-height: 16px;
  margin-left: 50px;
}

.fbw-feed .fbw-comments li .fbw-comment-controls {
  margin-left: 50px;
}

.fbw-feed .fbw-comments li .fbw-comment-time {
  color: rgba(0,0,0,0.5);
}

/*Button*/
.fbw-feed button {
  display: inline-block;
  padding: 4px 12px;
  margin: 0;
  font-size: 13px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.fbw-feed button:disabled {
  color: #AAAAAA;
  background-image: none;

}
; div.fbw-spinner  {
  position: relative;
  width: 54px;
  height: 54px;
  display: inline-block;
}

div.fbw-spinner div {
  width: 12%;
  height: 26%;
  background: #000;
  position: absolute;
  left: 44.5%;
  top: 37%;
  opacity: 0;
  -webkit-animation: fade 1s linear infinite;
  -webkit-border-radius: 50px;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

div.fbw-spinner  div.fbw-bar1 {-webkit-transform:rotate(0deg) translate(0, -142%); -webkit-animation-delay: 0s;}    
div.fbw-spinner  div.fbw-bar2 {-webkit-transform:rotate(30deg) translate(0, -142%); -webkit-animation-delay: -0.9167s;}
div.fbw-spinner  div.fbw-bar3 {-webkit-transform:rotate(60deg) translate(0, -142%); -webkit-animation-delay: -0.833s;}
div.fbw-spinner  div.fbw-bar4 {-webkit-transform:rotate(90deg) translate(0, -142%); -webkit-animation-delay: -0.75s;}
div.fbw-spinner  div.fbw-bar5 {-webkit-transform:rotate(120deg) translate(0, -142%); -webkit-animation-delay: -0.667s;}
div.fbw-spinner  div.fbw-bar6 {-webkit-transform:rotate(150deg) translate(0, -142%); -webkit-animation-delay: -0.5833s;}
div.fbw-spinner  div.fbw-bar7 {-webkit-transform:rotate(180deg) translate(0, -142%); -webkit-animation-delay: -0.5s;}
div.fbw-spinner  div.fbw-bar8 {-webkit-transform:rotate(210deg) translate(0, -142%); -webkit-animation-delay: -0.41667s;}
div.fbw-spinner  div.fbw-bar9 {-webkit-transform:rotate(240deg) translate(0, -142%); -webkit-animation-delay: -0.333s;}
div.fbw-spinner  div.fbw-bar10 {-webkit-transform:rotate(270deg) translate(0, -142%); -webkit-animation-delay: -0.25s;}
div.fbw-spinner  div.fbw-bar11 {-webkit-transform:rotate(300deg) translate(0, -142%); -webkit-animation-delay: -0.1667s;}
div.fbw-spinner  div.fbw-bar12 {-webkit-transform:rotate(330deg) translate(0, -142%); -webkit-animation-delay: -0.0833s;}

     @-webkit-keyframes fade {
      from {opacity: 1;}
      to {opacity: 0.25;}
    }